.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 1.125em;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    padding: 1em 0;
}

.banner_busca {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    max-width: 430px;
}

.banner_busca::placeholder {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../assets/Pesquisa.svg") no-repeat;
    background-position: 1em;
}

/*Tablet Size*/
@media screen and (min-width: 900px) {
    .banner__titulo {
        font-size: 2em;
        font-weight: 700;
    }
}

/*Desktop Size*/
@media screen and (min-width: 1400px) {
    .banner {
        padding: 5em 0;
    }
}