// Color Identity

$white: #F7F5FF;

$color1: #FFF8E8;
$color2: #FFF5E7;
$color3: #FFEDE8;
$color4: #FFD08E;

$color5: #805132;
$color6: #804432;
$color7: #806932;

$dark: #462C1C;

$bg-degrade: linear-gradient(to top, #e4d458, #ffb535);

// Fonts

$ft-titulo: "Jacquard 12", system-ui;
$ft-texto: "Pixelify Sans", sans-serif;
