/* Variáveis */
/* Cores */
$cor-primaria:#0C0421;
$cor-secundaria:#4E75FF;
$cor-terciaria:#85A0FF;
$cor-quaternaria:#CAD4FA;
$cor-default:#E8F5C8;
$branco: #FFFFFF;
$gradiente-primario:linear-gradient(180deg, #E8F5C8 0%, #FFF 96.87%);
$gradiente-secundario:linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
/* Fontes */
$ft-texto: Montserrat, sans-serif;
$ft-titulo: Krona One, sans-serif;