@use '../abstract/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    text-decoration: none;
    font-size: 16px;
    color: variables.$cor-branca;

}

body {
    font-family: variables.$ft-texto;
    background-color: variables.$cor-azul;
}