// Variables

// Colors
$cor-azul: #0C2D57;
$cor-azul-bg: rgba(64, 21, 232, 0.15);
$cor-laranja: #FC6736;
$cor-rosa: #FFB0B0;
$cor-rosa-bg: rgba(255, 176, 176, 0.2);
$cor-branca: #EFECEC;

// Fonts
$ft-titulo: "Chakra Petch", sans-serif;
$ft-texto: "Oswald", sans-serif;
$ft-mono:  "Ubuntu Mono", monospace;
