.carrousel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

/*Card do Primeiro Carrousel*/

.carrousel__card{ 
    background-color: var(--branco);
    border-radius: 10px;
    margin: 1em;
    padding: 1.25em 1.5em;
    box-shadow: var(--box-shadow);
}

.carrousel__card__first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carrousel__card {
    display: flex;
    justify-content: space-between;
}

.carrousel__card__second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.carrousel__card__text {
    padding: 0 1em 0.5em 0;
}

.carrousel__card__titulo {
    color: var(--laranja);
    font-family: var(--main-font);
    font-size: 1em;
    font-weight: 700;
    line-height: normal;
}

.carrousel__card__livro {
    color: var(--azul-escuro);
    font-family: var(--main-font);
    font-size: 1.2em;
    font-weight: 700;
    line-height: normal;
    padding: 0.4em 0;
}

.carrousel__card__descricao {
    color: var(--preto);
    font-family: var(--main-font);
    font-size: 0.87em;
    font-weight: 400;
    line-height: normal;
}

.carrousel__card__bookIMG {
    height: 10.5em;
}

.carrousel__card__icones {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0.25em 0 0.25em 0.5em;
    margin-top: 1em;
}

.carrousel__card__icones-favorito {
    width: 1.6em;   
}

.carrousel__card__icones-compras{ 
    width: 1.9em;
}

.carrousel__card__saibaMais {
    background-color: var(--laranja);
    text-decoration: none;
    padding: 0.5em 0em;
    margin-top: 1em;
    width: 100%;

    color: var(--branco);
    text-align: center;
    font-family: var(--main-font);
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*Card do Segundo Carrousel*/
.carrousel__card__estrelinhas {
    padding: 0.2em 0;
}

.carrousel__card__autora { 
    color: var(--azul-escuro);
    font-family: var(--main-font);
    font-size: 1.2em;
    font-weight: 700;
    line-height: normal;
    padding: 0.4em 0;
}

.carrousel__card__saibaMais:hover {
    color: var(--branco);
    background-color: var(--laranja-destaque);
}
/*Tablet Size*/
@media screen and (min-width: 900px) {
    .carrousel__titulo {
        font-size: 1.625em;
    }
    .swiper-pagination {
        position: initial;
        margin: 1em 0 3em 0;
    }
    .swiper {
        width: 60%;
    }
    .swiper-button-next, .swiper-button-prev {
        display: block;
    }
    .carrousel__card {
        width: 60%;
        margin: 2em auto;
    }
}

/*Desktop Size*/
@media screen and (min-width: 1400px) {
    .carrousel__container {
        display: flex;
        align-items: flex-start;
        gap: 5em;
        margin: 0 10vw 3em 10vw;
    }
    .swiper-pagination {
        margin: 1em 0;
    }
    .carrousel__card__titulo {
        font-size: 2em;
    }
    .carrousel__card {
        margin-top: 48px;
        margin-bottom: 0px;
    }
    .carrousel__titulo {
        padding: 2em 0 1em 0;
    }
}