.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho__botoes {
    display: flex;
    align-items: center;
}

.cabecalho__imagem {
    padding: 1em;
}
/*Exibir um elemento de acordo com uma interação na página sem JS*/

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.cabecalho_menu {
    display: none;
}

.cabecalho_menu:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

/*Esconder elementos em mobile*/

.cabecalho__titulo, .opcoes, .cabecalho__perfil__texto{
    display: none;
}

/*Tablet Size*/
@media screen and (min-width: 900px) {
    .cabecalho__titulo,
    .cabecalho__titulo--negrito {
        font-family: var(--secondary-font);
    }
    .cabecalho__titulo {
        display: block;
        font-size: 1.8em;
    }
    .cabecalho__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }
    .opcoes__item {
        padding: 1em;
        text-transform: uppercase;
    }
    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho__imagem--transparente {
        display: none;
    }
    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }
    .opcoes__botao {
        display: none;
    }
}

/*Desktop Size*/
@media screen and (min-width: 1400px) {
    .cabecalho__perfil__texto {
        display: block;
        font-size: 1.25em;
        color: var(--preto);
    }
    .cabecalho__perfil-botoes {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
    }
    .cabecalho__perfil {
        display: flex;
        margin: 0 3em;
    }
    .opcoes {
        margin-right: auto;
    }
}