.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho__botoes {
    display: flex;
    align-items: center;
}

.cabecalho__imagem {
    padding: 1em;
}