    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: var(--amarelo);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--laranja);
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--verde);
    }