.cabecalho__container {
    background: var(--preto);
    width: 100%;
    padding: 40px 0;
}

.cabecalho {
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.cabecalho__logo--icone {
    max-width: 260px;
}

.cabecalho__navegacao--lista {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

.cabecalho__navegacao--item a {
    color: var(--branco);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.banner__img--wrapper {
    max-width: 100%;
}

.banner__img--descricao {
    max-width: 1200px;
    color: var(--grafite, #222);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 6rem auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.ofertas {
    margin-bottom: 112px;
}

.depoimentos__titulo,
.pagamento__titulo,
.destinos__titulo,
.busca__titulo,
.ofertas__titulo {
    color: var(--grafite);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 64px;
}

.depoimentos__titulo--sublinhado,
.pagamento__titulo--sublinhado,
.destinos__titulo--sublinhado,
.busca__titulo--sublinhado,
.ofertas__titulo--sublinhado {
    width: 180px;
    height: 4px;
    background: var(--vermelho);
    margin: 0 auto;
    margin-top: 16px;
}

img {
    max-width: 100%;
}

.ofertas__cards--grupo {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ofertas__cards--item {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 24px 32px;
    color: var(--branco);
    flex: 1 0 calc(50% - 48px);
    box-sizing: border-box;
    text-align: center;
}

.ofertas__cards--japao {
    background-image: url("./img/tokyo.png");
}

.ofertas__cards--san-andreas {
    background-image: url("./img/san-andreas.png");
}

.ofertas__cards--paraiba {
    background-image: url("./img/paraiba.png");
}

.ofertas__cards--manaus {
    background-image: url("./img/manaus.png");
}

.ofertas__card--destino-tipo {
    color: var(--branco, #FFF);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 8px;
}

.ofertas__card--destino-nome {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ofertas__card--preco {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.destinos__item--botao,
.ofertas__card--botao {
    border-radius: 8px;
    background: var(--vermelho, #B81515);
    padding: 16px 48px;
    box-sizing: border-box;
    display: inline-block;
}

.destinos__item--botao-texto,
.ofertas__card--botao-texto {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--branco, #FFF);
}

.busca__categorias {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 24px;
    margin-bottom: 112px;
}

.busca__categoria {
    color: var(--grafite, #222);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: var(--cinza-claro, #F5F5F5);
    padding: 24px 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.material-symbols-outlined {
    color: var(--cinza-escuro, #8C8C8C);
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.destinos__lista {
    display: flex;
    align-items: stretch;
    gap: 24px;
    margin-bottom: 112px;
}

.destinos__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destinos__item--image {
    max-width: 100%;
}

.destinos__item--nome {
    color: var(--grafite, #222);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 24px 0;
}

.destinos__item--descricao {
    color: var(--grafite, #222);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}

.pagamento {
    margin-bottom: 112px;
}

.pagamento__imagens--grupo,
.pagamento__condicoes {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.pagamento__condicoes--destaque {
    color: var(--grafite, #222);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.pagamento__condicoes--detalhes {
    color: var(--grafite, #222);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 384px;
    max-width: 100%;
}

.pagamento__imagens {
    max-width: 50%;
}

.pagamento__imagens--imagem-container {
    flex: 1;
}

.pagamento__imagens--imagem-destaque {
    margin-top: 20px;
}

.pagamento__imagens--imagem {
    max-width: 100%;
}

.depoimentos {
    margin-bottom: 112px;
}

.depoimentos__wrapper {
    display: flex;
    gap: 24px;
    align-items: stretch;
}

.depoimentos__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.depoimentos__texto {
    color: var(--grafite, #222);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.depoimentos__autor {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.depoimentos__autor--foto {
    max-width: 86px;
    max-height: 86px;
}

.depoimentos__autor--nome {
    color: var(--grafite, #222);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 8px;
}

.footer__container {
    background: var(--preto);
    width: 100%;
    padding: 40px 10px;
    margin-top: -8px;

    justify-content: space-between;
    display: flex;
    align-items: center;
    color: var(--branco, #FFF);
}

.footer__logo-icon {
    max-width: 160px;
    margin-bottom: 16px;
}

.footer__info-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__text-info {
    color: var(--neutral-c, #F5F5F5);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.footer__social-media-container {
    text-align: center;
}

.footer__social-media-text {
    color: var(--neutral-c, #F5F5F5);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
}
