.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--branco);
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    position: fixed;
    bottom: 0;

    border-top-right-radius: 0.75rem;
    padding: 2rem;
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__icone {
    height: 1.85rem;
    width: 1.85rem;
}

.menu__link {
    color: var(--cor-primaria);
    text-decoration: none;

    font-size: 0.75rem;
    line-height: 160%;
}

.menu__link:hover {
    color: var(--azul-botao);
    text-decoration: none;

    font-size: 0.75rem;
    line-height: 160%;
}

@media screen and (min-width: 1024px) {
    .menu {
        flex-direction: column;
        width: 9rem;
        height: -webkit-fill-available;
        justify-content: flex-start;
        gap: 2rem;
        border-top-right-radius: 0.75rem;
    }

    .menu__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .menu__link {
        font-size: 1.2rem
    }

    .menu__link:hover {
        color: var(--azul-botao);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
}
}