@use '../abstract/variables';
@use '../abstract/mixins';

.about {
    margin: 6rem 1rem 0 1rem;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;

    .about__conteudo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;

        .titulo__h2 {
            @include mixins.titulo_h2(variables.$ft-titulo);
        }

        .about__conteudo__texto {
            font-weight: 300;
            letter-spacing: 0.05rem;
        }

        .about__links {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 1rem;

            .about__botao__subt {
                font-weight: 500;
                letter-spacing: 0.05rem;
                align-self: center;
            }

            .about__botao__text {
                align-self: center;
                @include mixins.botao-transparente(variables.$cor-primaria,variables.$cor-secundaria, 70%);
            }
        }
    }

    @media screen and (min-width: 1440px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        padding: 0 10rem;

        .about__conteudo {
            justify-content: center;
            align-items: center;
            padding: 5% 4rem 0 4rem;

            &__titulo {
                font-size: 2.5rem;
            }

            &__texto {
                font-size: 1.8rem;
            }

            .about__links {
                width: 100%;
                .about__botao__subt {
                    font-size: 1.8rem;
                }

                .about__botao__text {
                    font-size: 1.6rem;
                    @include mixins.botao-transparente(variables.$cor-primaria,variables.$cor-secundaria, 70%)
                }
            }
        }
    }
}

.contact__container {
    margin: 2rem 0;
}