@use '../abstract/variables';
@use '../abstract/mixins';

.cv {
    margin: 6rem 1rem 0 1rem;

    .cv__conteudo {
       display: flex;
       flex-direction: column;
       gap: 2rem;

       .titulo__h2 {
        @include mixins.titulo_h2(variables.$ft-titulo);
    }

        .cv__conteudo__subtitulo { 
            font-family: variables.$ft-titulo;
            font-size: 2rem;
            font-weight: 400;

            align-self: center;
        }

        .cv__conteudo__experiência {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            li {
                    font-size: 1.2rem;
                    text-align: center;

                .cv__conteudo__experiência--ent{
                    color: variables.$cor-footer;
                }
                p {
                    font-weight: 300;
                    font-size: 1rem;
                }
            }
        }

        .cv__conteudo__cursos {
            height: 100%;
            li {
                letter-spacing: 0.05rem;
                font-size: 1.2rem;
                text-align: center;
                padding: 0.5rem;

                div {
                    line-height: 0.25;
                }

                a {
                    font-weight: 300;
                    font-size: 1rem;
                    color: variables.$cor-secundaria;
                }
            }
        }


        .cv__links {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 1rem;
        }
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 6rem;

        .cv__conteudo {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto 1fr;
            align-items: center;
            column-gap: 5rem;
            row-gap: 1rem;
            padding: 0 3%;
    
            .cv__conteudo__titulo {
                font-size: 4rem;
                text-align: center;
                grid-area: 1 / 1 / 1 / 3;

            }
    
            .cv__conteudo__subtitulo { 
                font-size: 3rem;
                font-weight: 600;
                }
            
            .exp {
                grid-area: 2 / 1 / 3 / 2;
            }
    
            .cv__conteudo__experiência {
                grid-area: 3 / 1 / 4 / 2;
                li {
                        padding-bottom: 2.5rem;
                        letter-spacing: 0.15rem;
                        font-size: 2.5rem;    
                    p {
                        font-weight: 300;
                        font-size: 1.8rem;
                    }
                }
            }

            .certificados{
                grid-area: 2 / 2 / 3 / 3;
            }
    
    
            .cv__conteudo__certificados {
                grid-area: 3 / 2 / 4 / 3;
            }
    
            .cv__conteudo__cursos {
                li {
                    font-size: 2.5rem;
                    a {
                        font-size: 1.8rem;
                    }
                }
            }
    
    
            .cv__links {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                gap: 1rem;
            }
        }
    }
}