@use '../abstract/variables';
@use '../abstract/mixins';

.cv {
    margin: 6rem 1rem 3rem 1rem;

    .cv__conteudo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;

        .cv__conteudo__titulo {
            font-size: 2rem;
            font-weight: 700;
            font-family: variables.$ft-titulo;

            p {
                text-align: end;
            }
        }

        .cv__conteudo__texto {
            font-weight: 300;
            letter-spacing: 0.05rem;
        }

        .cv__conteudo__subtitulo { 
            font-family: variables.$ft-titulo;
            font-size: 2rem;
            font-weight: 400;

            align-self: center;
            margin-top: 2rem;

            @include mixins.botao-transparente(variables.$cor-primaria,variables.$cor-secundaria, 100%)
        }

        .cv__conteudo__experiência {
            li {
                    padding-top: .5rem;
                    letter-spacing: 0.05rem;
                    font-size: 1.2rem;
                    text-align: center;

                p {
                    font-weight: 300;
                    font-size: 1rem;
                }
            }
        }

        .cv__conteudo__cursos {
            li {
                padding-top: .5rem;
                letter-spacing: 0.05rem;
                font-size: 1.2rem;
                text-align: center;

                a {
                    font-weight: 300;
                    font-size: 1rem;
                    color: variables.$cor-secundaria;
                }
            }
        }


        .cv__links {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 1rem;
        }
    }

    @media screen and (min-width: 1440px) {

    }
}