@use '../abstract/variables';
@use '../abstract/mixins';

.project {
    margin: 6rem 1rem 0 1rem;

    .titulo__h2 {
        @include mixins.titulo_h2(variables.$ft-titulo);
    }

    .project__group {
        .project__list {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;

            width: 100%;
            padding: .25rem;

            overflow: auto;
        }

        .active {
            border-bottom: solid 2px variables.$cor-primaria;
            border-radius: 0.5rem;
        }

        .project__container {
            padding: 0.25rem;
            margin-bottom: 0.25rem;
            cursor: pointer;

            &:hover {
                background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), variables.$cor-secundaria-opc);
                border-radius: 0.5rem;
                transition: background-image 600ms;
            }

            .project__container__icon {
                border-radius: 1rem;
                border: solid 1px variables.$cor-primaria;
                height: 32px;
                width: 32px;
            }

            .projetc__container__name {
                display: none;
            }

            .projetc__container__info {
                display: none;

            }

        }

        .project__frame {

            .project__square {
                display: flex;
                flex-direction: column;
                align-items: center;

                height: 98%;

                .project__title__container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;
                    padding: 2rem 0 1rem 0;

                    .project__square__title {
                        font-size: 1.5rem;
                    }
                }

                .project__square__preview {
                    height: 650px;
                }
            }

        }
    }
}

@media screen and (min-width: 768px) {
    .project__list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .active {
        border: 2px solid variables.$cor-primaria;
        background-color: variables.$cor-secundaria-opc;
    }

    .project {
        display: flex;
        flex-direction: column;

        .titulo__h2 {
            margin-bottom: 3rem;
        }

        .project__group {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;


            .project__list {
                display: flex;
                flex: 1;
                flex-direction: column;
                gap: 1rem;
                width: auto;

                .project__container {
                    width: 320px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid variables.$cor-primaria;
                    border-radius: 0.5rem;
                    padding: 0 0.5rem;

                    .projetc__container__name {
                        display: block;
                        font-size: 1.5rem;
                        padding-bottom: 0.3rem;
                    }

                    .projetc__container__info {
                        display: block;
                        font-size: 1.8rem;
                        color: #E6D6BB;

                        &:hover .projetc__container__info__tooltip {
                            display: block;
                            position: absolute;
                            cursor: auto;

                            background-color: variables.$cor-secundaria;
                            color: variables.$cor-terciaria;
                            font-family: variables.$ft-texto;
                            font-size: 0.9rem;
                            font-weight: 400;

                            padding: 0.5rem;
                            border-radius: 1rem;
                            width: 15rem;
                        }

                        .projetc__container__info__tooltip {
                            display: none;
                        }
                    }
                }
            }
        }

        .project__frame {
            flex: 3;
            .project__square {
                width: 100%;
                
                .project__title__container {
                    padding: 0.5rem 1rem;
                    margin: 0.5rem 1rem;
                    justify-content: center;

                    .projetc__square__site {
                        font-size: 1.5rem;
                    }
                }
            }

            .project__square {
                
                .project__square__preview {
                    max-width: 80%;
                    width: 100%;
                }

            }


        }

    }
}