@use '../abstract/variables';
@use '../abstract/mixins';

.project {

    margin: 6rem 1rem 3rem 1rem;

    .project__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
        
        width: 100%;
        padding: .25rem;
        margin: .25rem;
        
        overflow: auto;

        .active {
            border-bottom: solid 2px variables.$cor-primaria;
            border-radius: 0.5rem;
        }
        
        .project__container {
            padding: 0.25rem;

            .project__container__icon {
                border-radius: 1rem;
                border: solid 1px variables.$cor-primaria;
                height: 32px;
                width: 32px;
            }
            
            .projetc__container__name {
                display: none;
            }
            
            .projetc__container__site {
                display: none;
            }
        }
    }
        
    .project__frame {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    
        .project__square {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            height: 550px;

            .project__title__container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                width: 100%;
                padding: 0px 1rem;

                .project__square__title {
                    font-size: 1.5rem;
                }
            }

            .project__square__preview {
                height: 100%;
                width: 320px;
            }
        }
    }
    
    
    
    @media screen and (min-width: 1024px) {
        .project__row{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3rem;
        }
    }
}