.menu-lateral {
    display: grid;
    grid-template-rows: repeat(3, auto) 1fr;
    row-gap: 3rem;
}

.menu-lateral__logo {
    justify-self: center;
}

.menu-lateral__link button {
    display: flex;
    align-items: center;
}