.secao {
    display: grid;
    align-items: end;
}

.secao-horizontal, .secao-vertical {
    grid-template-rows: 4.4rem auto;
    row-gap: 1.5rem;
}

.secao-horizontal .secao__cartoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(80%/2, max(350px, 80%/3)),1fr));
    gap: 1.25rem;
}