@media only screen and (max-width: 1023px) {
    .menu-lateral,
    .rodape,
    .cabecalho__botao,
    .secao-horizontal .cartao__subtitulo,
    .secao-horizontal .cartao__botao,
    .secao-horizontal .cartao__player,
    .secao-vertical .secao__link {
        display: none;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .navbar {
        display: block;
    }   

    .secao-horizontal .cartao__imagem {
        height: 4.58rem;
    }
 
    .secao-horizontal .cartao__titulo {
        font: 700 14px/20px Open Sans, sans-serif;
    }

    .secao-vertical .cartao {
        background-color: transparent;
        padding: 0;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {

    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .cabecalho .cabecalho__logo,
    .cabecalho__botao__avancar {
        display: none;
    }

    .navbar {
        display: none;
    }

    .secao-horizontal .cartao__imagem {
        height: 73px;
    }

    .secao-horizontal .cartao__titulo {
        font: 700 16px/22px 'Open Sans', sans-serif;
    }

    .secao-horizontal .cartao__subtitulo {
        font: 400 14px/19px 'Open Sans', sans-serif;
        width: 100%;
    }

    .secao-vertical .cartao {
        padding: 1.25rem;
    }

}

@media only screen and (min-width: 1400px) {

    .navbar,
    .cabecalho__logo {
        display: none;
    }

}
