// Variables

// Colors
$cor-branca: #F6F6F6;
$cor-apoio: #E6C081;

$cor-primaria: #FBF1EB;
$cor-secundaria: #FFC099;
$cor-terciaria: #492f1d;

$cor-header: #1A1E28;
$cor-fundo: #262B3A;
$cor-footer: #E6D6BB;

// Fonts
$ft-titulo: "Chakra Petch", sans-serif;
$ft-texto: "Oswald", sans-serif;
$ft-mono:  "Ubuntu Mono", monospace;
