.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__Titulo {
    color: var(--branco);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 1em 0;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 1.2em 0.5em;
}

.topicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.topicos__link:hover {
    color: var(--branco);
    background-color: var(--laranja-destaque);
}

/*Tablet Size*/
@media screen and (min-width: 900px) {
    .topicos__Titulo {
        font-size: 1.5em;
    }

    .topicos__link {
        font-size: 1em;
        padding: 1.5em;
    }

    .topicos__item {
        margin: 1.9em 0.5em;
    }

    .topicos__lista {
        margin: 0 3em;
    }
}

/*Desktop Size*/
@media screen and (min-width: 1400px) {
    .topicos {
        padding: 3em 25vw;
    }
}