/*Header*/
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 2rem 1rem;
}

.header__medic{
    display: flex;
    flex-direction: column;
}

.header__foto {
    border-radius: 57px;
    width: 3.6rem;
    height: 3.6rem;
}

.header__saudacao {
    color: var(--cor-primaria);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.header__consultas {
    color: var(--cor-secundaria);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

/*Lista de Consultas*/
.consultas {
    margin-bottom: 8rem;
}

.consultas__titulo {
    color: var(--cor-primaria);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;

    margin: 0.5rem 1rem;
}

.consultas__card {
    background-color: var(--branco);
    margin: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.consultas__card__paciente-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--cor-primaria-transp);
    padding: 1rem;
}

.consultas__card__paciente{
    display: flex;
    align-items: center;
}

.foto__circular{
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.consultas__paciente__nome{
    color: var(--cor-primaria);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.consultas__paciente__tipo-texto{ 
    color: var(--cor-secundaria);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.consultas__card__paciente-bottom{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.consultas__card__horario{
    color: var(--cor-primaria);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 19.2px */
}

.consultas__card__botoes{ 
    display: flex;
    justify-content: space-between;
    gap: 1.25em;
    align-items: center;
}

.consultas__card__ligar-video{
    background: var(--botao-laranja);
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem 0;

    color: var(--branco);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.consultas__card__ligar-audio{
    background: var(--branco);
    border: solid 1px var(--borda-botao);
    border-radius: 0.5rem;
    margin: 0.5rem 0;

    color: var(--cor-primaria);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.consultas__card__ligar-audio, .consultas__card__ligar-video {
    padding: 0.8rem 1.5rem;

}

.consultas__card__ligar-endereco {
    background: var(--azul-botao);
    border: none;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.8rem 1.5rem;
    width: -webkit-fill-available;

    color: var(--branco);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

/* Footer */

.rodape {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--branco);
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    position: fixed;
    bottom: 0;

    border-top-right-radius: 0.75rem;
}

.rodape__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__icone {
    height: 1.85rem;
    width: 1.85rem;
}

.rodape__link{
    color: var(--cor-primaria);
    text-decoration: none;
    
    font-size: 0.75rem;
    line-height: 160%;
}

.rodape__link:hover{
    color: var(--azul-botao);
    text-decoration: none;
    
    font-size: 0.75rem;
    line-height: 160%;
}