@media screen and (min-width: 768px) {
    .home__foto {
        width: 5rem;
        height: 5rem;
    }

    .foto__circular {
        width: 3rem;
        height: 3rem;
    }

    .consultas__card__paciente-bottom {
        padding: 0.5rem 10rem;
        align-items: stretch;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .home__foto {
        width: 7rem;
        height: 7rem;
    }

    .foto__circular {
        width: 4rem;
        height: 4rem;
    }

    .consultas__lista {
        display: flex;
    }

    .consultas__card__paciente-bottom {
        padding: 0.5rem 1rem;
    }

    .consultas__card {
        min-width: 23rem;
    }
}