.navbar__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navbar__items button {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.4rem;
}