@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("scrollbar.css");
@import url("desktop.css");
@import url("mobile.css");

:root {
    --branco-primario: #FFFFFF;
    --cinza-primario: #C0C0C0;
    --cinza-secundario: #F9F9F9;
    --botao-azul: #167BF7;
    --destaque-vermelho: #EC2F46;
    --cor-background: #040814;
    --preto-primario: #040814;

    --cor-fundo: black;
    --cor-primaria: #FBF1EB;
    --cor-secundaria: #FFC099;
    --cor-terciaria: #492f1d;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--cor-primaria);
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
}
