    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: var(--gradiente);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--azul-neon);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--azul-escuro);
    }