.depoimentos{
    padding-bottom: 6rem;
    margin: 0 7rem;
}

.depoimentos__container {
    background: var(--fundo-depoimentos);
    border-radius: 16px;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.depoimentos__container__desc {
    display: flex;
    flex-direction: column;
}

.depoimentos__container__titulo {
    color: var(--bordo);
    text-align: center;
    margin-bottom: 1rem;
    
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
}

.depoimentos__container__texto {
    color: var(--preto);
    text-align: center;
    
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: -0.045rem;
}

.depoimentos__container__colab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto_colab {
    margin-bottom: 1rem;
}

.nome_colab {
    color: var(--preto);
    
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.cargo_colab {
    color: var(--cinza);
    
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}