@use '../abstract/variables';
@use '../abstract/mixins';

#nosso-espaco {
    @include mixins.margem-central(80%);

    .detalhes {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        padding: 2rem 0;

        .imgs-espaco {
            max-width: 500px;
        }

        .espaco-textos {
            @extend .imgs-espaco;

            .titulo {
                @include mixins.ff-fs-cl(variables.$ft-titulo, 1.8rem, variables.$cor-secundaria);
                font-weight: 500;
            }

            .infos {
                @include mixins.ff-fs-cl(variables.$ft-texto, 1.2rem, variables.$cor-primaria);
            }

            .separador {
                width: 100%;
            }
        }

        &:nth-child(2) {
            flex-direction: row-reverse;
        }

        .imgs-espaco-comp {
            display: flex;
            gap: 1rem;
        }
    }
}