@use '../abstract/variables';
@use '../abstract/mixins';

header {
    background: variables.$gradiente-primario;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha {
            border-top: 1px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                @include mixins.ff-fs-cl(variables.$ft-texto, 1rem, variables.$cor-primaria);
                font-weight: 400;

                &:hover {
                    font-weight: 600;
                }
            }
        }
    }

    #home {
        max-width: 1040px;
        @include mixins.margem-central(80%);

        display: flex;
        align-items: center;
        justify-content: space-between;

        .textos-home {
            max-width: 464px;

            h1 {
                @include mixins.ff-fs-cl(variables.$ft-titulo, 2rem, variables.$cor-primaria);
                font-weight: 400;
                line-height: 150%;
                margin-bottom: 2rem;

                span {
                    color: variables.$cor-secundaria;
                }
            }

            .btn-main {
                border-radius: 40px;
                background-color: variables.$cor-terciaria;
                padding: 1.5rem 3.75rem;
                border: none;

                @include mixins.ff-fs-cl(variables.$ft-texto, 1.3rem, variables.$branco);
                font-weight: 600;
                line-height: 18px;

                transition: 0.3s;

                &:hover {
                    background-color: variables.$cor-secundaria;
                    cursor: pointer;
                }
            }
        }

        .img-home {
            max-width: 474px;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    header {
        padding: 0.5rem;
        #home {
            flex-direction: column;
            @include mixins.margem-central(95%);

            .textos-home {
                .btn-main {
                    text-wrap: nowrap;
                }
            }

            .img-home {
                padding: 1rem 0;
            }
        }

        nav {
            ul {
                padding: 0;
                align-items: center;
                text-wrap: nowrap;
            }
        }
    }
}