body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: auto;
    margin-bottom: auto;
    padding: 1rem 1rem;
}

.project__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    overflow-x: scroll;
    height: 78vh;
}

.project__squares {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
}

.project__preview {
    height: 100%;
    width: 320px;
    background-color: white;

}

.project__squares {
    text-align: center;
}


/* body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.project {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 3rem;
}

.project__row {
    display: flex;
    flex-wrap: nowrap;
    gap: 5em;
}

.project__squares {
    text-align: center;
    flex: 1;
}

.project__preview {
    width: 375px;
    height: 667px;
    background-color: white;
} */

/*Mobile*/
@media screen and (max-width: 820px) {
    /* .project{
        justify-content: center;
        margin: 63px 0 0 0;
    }
    .project__row {
        flex-direction: column;
        gap: 2em;
    }
    .project__squares {
        display: flex;
        flex-direction: column;
    }
    .project__preview {
        width: 330px;
        height: 530px;
        background-color: white;
    } */
}