/*Projetos*/

.project {
    display: flex;
    flex-direction: column;
    margin: 4% 3%;
    width: 100%;
}

.project__row {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.project__squares {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1%;
}

.project__preview {
    width: 375px;
    height: 667px;
}

/*Mobile*/
@media screen and (max-width: 920px) {
    .project{
        justify-content: center;
        margin: 63px 0 0 0;
    }
    .project__row {
        flex-direction: column;
        gap: 2em;
    }
    .project__squares {
        display: flex;
        flex-direction: column;
    }
    .project__preview {
        width: 330px;
        height: 530px;
        background-color: white;
    }
}