@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #FBF1EB;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #262B3A;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1A1E28;
}
.header .header_mobile_btn {
  outline: none;
  border: none;
  background: transparent;
  margin: 0.5rem;
}
.header .header_mobile_btn_logo {
  width: 4rem;
  border-radius: 999px;
}
.header .lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60%;
  background-color: #1A1E28;
}
.header .lista-menu .lista-menu__item {
  padding: 0.3rem 0.5rem;
}
.header .lista-menu .lista-menu__item .header__nav__link {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  border-left: solid 2px transparent;
  padding-left: 0.6rem;
  transition: border 400ms;
}
.header .lista-menu .lista-menu__item .header__nav__link:hover {
  border-left: solid 2px #FFC099;
  transition-timing-function: ease;
}
.header .header__nav__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  font-family: "Chakra Petch", sans-serif;
}
.header .lista-menu.show {
  display: block;
}
@media screen and (min-width: 1024px) {
  .header {
    flex-direction: row;
  }
  .header .header__nav__title {
    display: none;
  }
  .header .header_mobile_btn {
    display: block;
  }
  .header .lista-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    text-wrap: nowrap;
    gap: 1rem;
    width: 100%;
    margin-left: 3rem;
  }
  .header .lista-menu .lista-menu__item .header__nav__link {
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    border-left: none;
    padding-left: 0;
    border-bottom: solid 2px transparent;
    padding-bottom: 0.6rem;
    transition: border 400ms;
  }
  .header .lista-menu .lista-menu__item .header__nav__link:hover {
    border-left: none;
    border-bottom: solid 2px #FFC099;
    transition-timing-function: ease;
  }
  .header .lista-menu .lista-menu__item:first-child {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header .lista-menu {
    gap: 2rem;
    margin-left: 5rem;
  }
  .header .lista-menu .lista-menu__item:first-child {
    display: block;
  }
}

.main {
  margin: 6rem 1rem;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
}
.main .main__conteudo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
.main .main__conteudo .main__conteudo__titulo {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .main .main__conteudo .main__conteudo__titulo {
    font-size: 3rem;
  }
}
.main .main__conteudo .main__conteudo__texto {
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: justify;
}
.main .main__conteudo .main__links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
.main .main__conteudo .main__links .main__botao__subt {
  font-weight: 500;
  letter-spacing: 0.05rem;
  align-self: center;
}
.main .main__conteudo .main__links .main__botao__text {
  align-self: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid #FFC099;
  width: 100%;
  text-align: center;
  padding: 21.5px 0px;
  text-decoration: none;
  color: #FBF1EB;
  font-size: 1.5rem;
  font-weight: 500;
}
.main .minha__foto {
  width: 60%;
}
@media screen and (min-width: 1440px) {
  .main {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
  }
  .main .main__conteudo {
    justify-content: center;
    align-items: center;
    padding: 5% 4rem 0 4rem;
  }
  .main .main__conteudo__titulo {
    font-size: 3.5rem;
  }
  .main .main__conteudo__texto {
    font-size: 1.8rem;
  }
  .main .main__conteudo .main__links {
    width: 100%;
  }
  .main .main__conteudo .main__links .main__botao__subt {
    font-size: 1.8rem;
  }
  .main .main__conteudo .main__links .main__botao__text {
    font-size: 1.6rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #FFC099;
    width: 70%;
    text-align: center;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #FBF1EB;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .main .minha__foto {
    width: 50%;
  }
}

.about {
  margin: 6rem 1rem;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
}
.about .about__conteudo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
.about .about__conteudo .about__conteudo__titulo {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Chakra Petch", sans-serif;
}
.about .about__conteudo .about__conteudo__texto {
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: justify;
}
.about .about__conteudo .about__links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
.about .about__conteudo .about__links .about__botao__subt {
  font-weight: 500;
  letter-spacing: 0.05rem;
  align-self: center;
}
.about .about__conteudo .about__links .about__botao__text {
  align-self: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid #FFC099;
  width: 70%;
  text-align: center;
  padding: 21.5px 0px;
  text-decoration: none;
  color: #FBF1EB;
  font-size: 1.5rem;
  font-weight: 500;
}
.about .minha__foto {
  width: 60%;
}
@media screen and (min-width: 1440px) {
  .about {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
  }
  .about .about__conteudo {
    justify-content: center;
    align-items: center;
    padding: 5% 4rem 0 4rem;
  }
  .about .about__conteudo__titulo {
    font-size: 2.5rem;
  }
  .about .about__conteudo__texto {
    font-size: 1.8rem;
  }
  .about .about__conteudo .about__links {
    width: 100%;
  }
  .about .about__conteudo .about__links .about__botao__subt {
    font-size: 1.8rem;
  }
  .about .about__conteudo .about__links .about__botao__text {
    font-size: 1.6rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #FFC099;
    width: 70%;
    text-align: center;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #FBF1EB;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .about .minha__foto {
    width: 50%;
  }
}

.cv {
  margin: 6rem 1rem;
}
.cv .cv__conteudo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cv .cv__conteudo .cv__conteudo__titulo {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
}
.cv .cv__conteudo .cv__conteudo__subtitulo {
  font-family: "Chakra Petch", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  align-self: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid #FFC099;
  width: 100%;
  text-align: center;
  padding: 21.5px 0px;
  text-decoration: none;
  color: #FBF1EB;
  font-size: 1.5rem;
  font-weight: 500;
}
.cv .cv__conteudo .cv__conteudo__experiência li {
  font-size: 1.2rem;
  text-align: center;
}
.cv .cv__conteudo .cv__conteudo__experiência li p {
  font-weight: 300;
  font-size: 1rem;
}
.cv .cv__conteudo .cv__conteudo__cursos li {
  padding-top: 0.5rem;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
  text-align: center;
}
.cv .cv__conteudo .cv__conteudo__cursos li a {
  font-weight: 300;
  font-size: 1rem;
  color: #FFC099;
}
.cv .cv__conteudo .cv__links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}
@media screen and (min-width: 1440px) {
  .cv {
    margin-bottom: 6rem;
  }
  .cv .cv__conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    align-items: center;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    row-gap: 1rem;
    padding: 0 3%;
  }
  .cv .cv__conteudo .cv__conteudo__titulo {
    font-size: 4rem;
    text-align: center;
    grid-area: 1/1/1/3;
  }
  .cv .cv__conteudo .cv__conteudo__subtitulo {
    font-size: 3rem;
    font-weight: 600;
  }
  .cv .cv__conteudo .exp {
    grid-area: 2/1/3/2;
  }
  .cv .cv__conteudo .cv__conteudo__experiência {
    grid-area: 3/1/4/2;
  }
  .cv .cv__conteudo .cv__conteudo__experiência li {
    padding-bottom: 2.5rem;
    letter-spacing: 0.15rem;
    font-size: 2.5rem;
  }
  .cv .cv__conteudo .cv__conteudo__experiência li p {
    font-weight: 300;
    font-size: 1.8rem;
  }
  .cv .cv__conteudo .certificados {
    grid-area: 2/2/3/3;
  }
  .cv .cv__conteudo .cv__conteudo__certificados {
    grid-area: 3/2/4/3;
  }
  .cv .cv__conteudo .cv__conteudo__cursos li {
    font-size: 2.5rem;
  }
  .cv .cv__conteudo .cv__conteudo__cursos li a {
    font-size: 1.8rem;
  }
  .cv .cv__conteudo .cv__links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }
}

.project {
  margin: 6rem 1rem 3rem 1rem;
}
.project .project__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.25rem;
  margin: 0.25rem;
  overflow: auto;
}
.project .project__list .project__container .project__container__icon {
  border-radius: 1rem;
}
.project .project__list .project__container .projetc__container__name {
  display: none;
}
.project .project__list .project__container .projetc__container__site {
  display: none;
}
.project .project__frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.project .project__frame .project__square {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
}
.project .project__frame .project__square .project__title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 1rem;
}
.project .project__frame .project__square .project__title__container .project__square__title {
  font-size: 1.5rem;
}
.project .project__frame .project__square .project__square__preview {
  height: 100%;
  width: 320px;
}
@media screen and (min-width: 1024px) {
  .project .project__row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
}

.footer {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: #E6D6BB;
  bottom: 0;
  width: 100%;
  padding: 0.625rem;
}
.footer .footer__text {
  color: #262B3A;
}
@media screen and (min-width: 1024px) {
  .footer {
    position: fixed;
    font-size: 1.2rem;
    font-weight: 500;
    background-image: url("../img/assets/technologies.svg");
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 11rem;
  }
}/*# sourceMappingURL=styles.css.map */