@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=M+PLUS+Code+Latin:wght@300;400;500&family=Montserrat:wght@200;300;400;500&display=swap');

@import url("projetos.css");
@import url("header-main.css");
@import url("footer-main.css");

:root {
    --cor-fundo: black;
    --cor-primaria: #FBF1EB;
    --cor-secundaria: #FFC099;
    --cor-terciaria: #492f1d;
    --gradinte-azul: linear-gradient(128deg, #2C3946 24.53%, rgba(46, 59, 71, 0.55) 169.13%);

    --eggshell: #F6F2D9ff;
    --champagne: #F1E3C8ff;
    --dun: #DCCBB0ff;
    --ash-gray: #B3B3A5ff;
    --rust: #A74E20ff;
    --charcoal: #2E3B47ff;
    --field-drab: #5D5831ff;

    --fonte-titulo: 'Krona One', sans-serif;;
    --fonte-texto: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--cor-primaria);
}

body {
    background-color: var(--cor-fundo);
    box-sizing: border-box;
}

/*Conteudo Central*/
.main {
    padding: 1% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4%;
    margin: 70px 0;
}

.main__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#main__conteudo__titulo {
    font-size: 2.25rem;
    font-weight: 300;
    font-family: var(--fonte-titulo);
}

/*texto de destaque no Titulo*/
#titulo__destaque {
    color: var(--cor-secundaria); 
}

#main__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
}

#front__end {
    border-color: var(--cor-secundaria);
    border: solid 0.05em;
    padding: 0em 0.1em 0em 0.1em;
}

/*Botoes*/
.main__botao__subt {
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    font-weight: 400px;
}

.main__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.main__botao__text {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--fonte-texto);
}

.main__botao__text:hover {
    background-color: var(--cor-terciaria);
}

/*Foto*/

#minha__foto {
    width: 50%;
}


#minha__foto:hover {
    cursor:no-drop;
}



/*Mobile*/
@media screen and (max-width: 820px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-items: center;
        margin: 60px 0;
    }
    #main__conteudo__titulo {
        font-size: 1.5em;
    }
    .main__conteudo {
        width: auto;
    }
    #minha__foto {
        width: 50vw;
        padding-bottom: 2em;
    }
    .main__botao__text {
        width: 100%;
    }
}