.box {
    width: 100%;
    height: 100%;
  }
  
  .box .group {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .box .overlap-group {
    position: relative;
    width: 100%;
    height: 100%;
    top: -20px;
    left: -20px;
    background-image: url(./img/background-cash.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .box .green-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    filter: blur(20px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(6.1, 56.31, 8.11, 0.5) 90.19%);
  }
  
  .box .conversor-interface {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 120px;
    left: 579px;
  }
  
  .box .imersao-dev {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
  }
=======
.box {
    width: 100%;
    height: 100%;
  }
  
  .box .group {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .box .overlap-group {
    position: relative;
    width: 100%;
    height: 100%;
    top: -20px;
    left: -20px;
    background-image: url(./img/background-cash.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .box .green-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    filter: blur(20px);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(6.1, 56.31, 8.11, 0.5) 90.19%);
  }
  
  .box .conversor-interface {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 120px;
    left: 579px;
  }
  
  .box .imersao-dev {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
  }