// Color Identity 

$white: #F7F5FF;

$green-highlight: #81FE88;
$green-pastel: #BFFFC3;
$green-petrol: #132E35;
$graffite: #01080E;

$grey: #3E3E3F;
$grey-light: #BCBCBC;
$grey-medium: #888888;
$grey-dark: #171D1F;

$off-white: #E1E1E1;
$white: #FFFFFF;

$green-degrade: linear-gradient(to top, #BFFFC3, #132E35);
